
<div class="row">
	<div class="span4">

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"} ) do |f| %>
	
	<!-- the bit above adds the well: , html: {class: "well"} )-->

	<fieldset>
		<legend>Sign-in</legend>


	 	<%= f.input :email %>
	 	<%= f.input :password %>


	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.input :remember_me, as: :boolean %></div>
	  <% end -%>

	  <div><%= f.submit "Sign in" %></div>
	</fieldset>
	<% end %>

	<%= render "devise/shared/links" %>

	</div>
	<div class="span8">
		<h2>Signing in is easy!</h2>
	</div>
</div>